# Xmake cache
.xmake/
.vscode/
.idea/
build/
vsxmake2022/
cmake-build-debug/
cmake-build-debug-event-trace/
cmake-build-release/
.cache/

# MacOS Cache
.DS_Store


!core/
!debug/

compile_commands.json
CMakeLists.txt